@charset "utf-8";

*,
ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'sans serif';
}

a {
    text-decoration: none;
    color: #fff;
}

/* ν—¤λ” */
header {
    width: 100%;
    height: auto;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0px;
    z-index: 990;
    transition: all .3s ease-out;
}

header nav {
    width: 100%;
    height: 60px;
    position: relative;
}

header .header_logo {
    width: 60px;
    height: 50px;
    background: url('img/logo_icon.svg') center no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .header_logo > a {
    width: 100%;
    height: 100%;
    display: block;
}

header .header_menu {
    width: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    transition: all .3s ease-out;
    z-index: 998;
}

header .header_menu.right {
    width: 100%;
}

header .header_menu li {
    line-height: 100px;
    font-size: 3rem;
}

header .header_menu li a:hover {
    color: rgb(128, 191, 243);
    text-shadow: 0px 0px 5px rgb(50, 111, 160);
}

header .menu_icon {
    width: 50px;
    height: 60px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    z-index: 999;
}

header .menu_icon .sticks {
    background: #eee;
    display: block;
    height: 3px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: background .2s ease-out;
    width: 40px;
}

header .menu_icon .sticks:before,
header .menu_icon .sticks:after {
    background: #eee;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

header .menu_icon .sticks:before {
    top: 14px;
}

header .menu_icon .sticks:after {
    top: -14px;
}

header .menu_icon.active .sticks {
    background: transparent;
}

header .menu_icon.active .sticks:before {
    top: 0;
    transform: rotate(-45deg);

}

header .menu_icon.active .sticks:after {
    top: 0;
    transform: rotate(45deg);
}

/* ν‘Έν„° */
footer {
    width: 100%;
    height: auto;
    backdrop-filter: blur(5px);
    position: absolute;
    bottom: 0px;
    transition: all .3s ease-out;
    z-index: 990;
}

footer nav {
    width: 100%;
    height: 60px;
    position: relative;
}

footer nav p {
    color: #999;
    line-height: 60px;
    padding: 0 30px;
}

footer nav .menu_button {
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 0;
    right: 30px;
    left: auto;
    z-index: 997;
}

footer nav .menu_button p.none {
    display: none;
}

footer .footer_menu_wrap {
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
    z-index: 996;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

footer .footer_menu_wrap .follow {
    width: 20%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
}

footer .footer_menu_wrap .follow p {
    width: 100%;
    text-align: center;
}

footer .footer_menu_wrap .follow .fa-brands {
    font-size: 2rem;
    color: #eee;
}

footer .footer_menu_wrap .follow .fa-brands:hover {
    color: rgb(128, 191, 243);
    text-shadow: 0px 0px 5px rgb(50, 111, 160);
}

footer .footer_menu_wrap p {
    font-size: 0.8rem;
    color: #666;
}

footer .footer_menu_wrap .footer_menu {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 0.9rem;
}

footer .footer_menu_wrap .footer_menu li a:hover {
    border-bottom: 1px solid #eee;
}